# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# TensorFlow / Keras model files
*.h5
*.ckpt
*.pb
*.tflite

# OS files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Data / images (if you want to avoid uploading heavy images)
Images_for_visualization/
Authorized_faces/
